<%- include ../layouts/header.ejs %>
<% if (messages.error) { %>
    <p style="color:red"><%- messages.error %></p>
<% } %>
<% if (messages.success) { %>
    <p style="color:green"><%- messages.success %> </p>
<% } %>
<br>
<br>

<center>
<h1>Daftar Buku</h1>
</center>
<table id="example" class="table table-hover table-striped">
    <tr>
      <th>Judul Buku</th>
      <th>Tahun</th>
      <th>Harga</th>
      <th>Penerbit</th>
      <th>Penulis</th>
      <th>Stok</th>
      <th>Aksi</th>
    </tr>
    <% if (data) { %>
        <% data.forEach(function(user){ %>
            <tr>
                <td><%= user.judul_buku %></td>
                <td><%= user.tahun %></td>
                <td><%= user.harga %></td>
                <td><%= user.penerbit %></td>
                <td><%= user.penulis %></td>
                <td><%= user.stok %></td>
                <td>
                        <a href="/users/edit/<%= user._id %>" class="btn btn-success">Edit</a> 
                        <form method="post" action="/users/delete/<%= user._id %>" >
                            <input type="submit" name="delete" value='Delete' class="btn btn-danger" >
                            <input type="hidden" name="_method" id="DELETE" value='DELETE'>
                        </form>
                </td>   
            </tr>
            <% }) %>
            <% } %>
</table>
